
.projects-card{
    position: relative;
    transition: .4s;
    overflow: hidden;
    max-height: 300px;
}
.projects-card img{
    object-fit: cover;
}
.projects-card .project-content{
    width: 100%;
    height: 100%;
    background-color: rgba(34, 33, 33, 0.521);
    position: absolute;
    bottom: -100%;
    left: 0;
    transition: .3s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding: 10px;
}
.projects-card:hover .project-content{
    bottom: 0;
}
.project-search{
    position: absolute;
    right: 0;
    top: -100%;
    z-index: 1;
    width: 50px;
    height: 50px;
    display: grid;
    place-items: center;
    color: white;
    font-size: 20px;
    background-color: rgb(255, 166, 43);
    transition: .4s;
}
.projects-card:hover .project-search{
    top: 0;
}