
.team-card{
    background: #fff;
    transition: 0.4s;
    position: relative;
    border-radius: 10px;
    overflow: hidden;
}
.team-card:hover{
    background: rgb(255, 166, 43);
}
.team-card:hover p{
    color: white;
}
.team-social{
    position: absolute;
    top: 50%;
    left: -50%;
    z-index: 1;
    transition: .4s;
    transform: translateY(-50%);
}
.team-card:hover .team-social{
    left: 6%;
}

.team-social-icon{
    width: 40px;
    height: 40px;
    background-color: black;
    transition: 0.4s;
    border-radius: 50%;
    font-size: 20px;
    color: white;
    display: grid;
    place-items: center;
}
.team-social-icon:hover{
    background-color: rgb(255, 166, 43);
    color: white;
}
