.logo{
    background-color: rgb(255,166,43);
    position: relative;
    z-index: 100;
}
.logo::before{
    position: absolute;
    width: 100%;
    height:  100%;
    content: "";
    z-index: -1;
    background-color: rgb(255,166,43);
    top: 0;
    left: -100%;
}
.logo::after{
    position: absolute;
    width: 100%;
    height:  calc(100% + 50px);
    content: "";
    z-index: -1;
    background-color: rgb(255,166,43);
    top: 0;
    right: -35%;
    transform: rotate(-19deg);
}
